
.create-order-panel {
  background-color: white;
  padding: 5px;
  text-align: left;
}

.item-panel {
  background-color:white;
  padding: 5px;
  text-align: left;
}

.summary-panel{
  background-color: white;
  /* margin-right: 10px; */
  padding: 5px;
}

.title{
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.btn-delete{
  background-color: firebrick;
  border-width: 0;
}

.btn-edit{
  background-color: dodgerblue;
  border-width: 0;
}

.item-box{
  width:160px;
  height:70px;
  margin-left:20px;
  margin-bottom:10px;
  border-color: tomato;
}

.po-left-padding{
  padding-left:15px;
}

.summry-po{
  padding-right:15px;
}

.PurchaseOrder{
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.panel-header{
  width:100%;
  background-color:#F0F3F5;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #DBDBDB;
  text-align: left;
  padding-left: 5px;
}

.btn-panel{
  text-align: right;
}

.btn-single{
  width:100px;
  margin-right: 10px;
}

.table-header{
  text-decoration-color: red;
}

.align-label{
  padding-left: 20px;
}

.main-background{
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

/* .GrnSummary{
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
} */

.GrnList{
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}

.po-table{
  width: 90%;
  margin-left: 5%;
}

.btnNew{
  margin-bottom:10px;
  margin-left:70px;
}

.purchaseheader{
  margin-bottom:10px;
  margin-left:70px;
  font-size:18px;
}

.title-red{
  color: red;
}

.controller-style{
  width:250px;
}