<template>
    <div class="PurchaseOrder">
      <form id="formPurchaseOrder" @submit="addPurchaseOrder" method="post" action="">
      <div class="form-row">        
        <div class="col-md-8 po-left-padding">
          <div>
            <div class="panel-header">
              <span class="text-lg-left title">Create Goods Received Note</span>
            </div>
            <div class="create-order-panel">
              <div class="form-row">
                <div class="col-md-6">
                  <div>
                    <label for="grnDate">Date </label>
                  </div>
                  <div>
                    <datepicker id="grnDate" format="MM/dd/yyyy"></datepicker>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label for="purchaseOrderNo">Invoice No </label>
                  </div>
                  <div>
                    <input id="invoiceNo" class="form-control" v-model="invoiceNo" type="text">
                  </div>
                </div>
              </div>
              <br>
              <div class="form-row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-6">
                        <div>
                          <label for="fromLocation">From </label>
                        </div>
                        <div>
                          <select id="FromLocation" ref="FromLocation" class="form-control round"
                                                v-model="fromLocation" >
                                            <option :value="FromLocation.id"
                                                    :id="FromLocation.id"
                                                    :key="FromLocation.id"
                                                    v-for="FromLocation in FromLocation"
                                                    :selected="FromLocation.name==fromLocation" >{{ FromLocation.location }}
                                            </option>
                                        </select>
                        </div>
                      </div>
                    <div class="col-md-6">
                      <div>
                        <label for="toLocation">To </label>
                      </div>
                      <div>
                        <select id="ToLocation" ref="ToLocation" class="form-control round"
                                              v-model="toLocation" >
                                          <option :value="ToLocation.id"
                                                  :id="ToLocation.id"
                                                  :key="ToLocation.id"
                                                  v-for="ToLocation in ToLocation"
                                                  :selected="ToLocation.name==toLocation" >{{ ToLocation.location }}
                                          </option>
                                      </select>
                      </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                <div>
                  <label for="referenceDocNo">Ref Doc No </label>
                </div>
                <div>
                  <input id="refDocNo" class="form-control" v-model="refDocNo" type="text">
                </div>
                </div>
              </div>
              <br>
              <div class="form-row">
                <!-- <div class="col-sm-1" v-if="fromLocation&&toLocation"> -->
                <div class="col-md-6">
                  <div>
                    <label for="supplier">Supplier </label>
                  </div>
                  <div>
                    <select id="Supplier" ref="Supplier" class="form-control round"
                                            v-model="suppliermodel">
                                        <option :value="Supplier.id"
                                                :id="Supplier.id"
                                                :key="Supplier.id"
                                                v-for="Supplier in Supplier"
                                                :selected="Supplier.name==suppliermodel" >{{ Supplier.supplier }}
                                        </option>
                                    </select>
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label for="address">Address </label>
                  </div>
                  <div>
                    <input id="address" class="form-control" v-model="address" type="text">
                  </div>
                </div>
              </div>
              <br>
              <div class="form-row">
                  <div class="col-md-6">
                      <div>
                    <label for="supplier">Payment Mode </label>
                  </div>
                  <div>
                    <select id="PaymentMode" ref="PaymentMode" class="form-control round"
                                            v-model="paymentmodemodel">
                                        <option :value="PaymentMode.id"
                                                :id="PaymentMode.id"
                                                :key="PaymentMode.id"
                                                v-for="PaymentMode in PaymentMode"
                                                :selected="PaymentMode.name==paymentmodemodel" >{{ PaymentMode.paymentmode }}
                                        </option>
                                    </select>
                  </div>
                  </div>
              </div>
            </div>
          </div>
          <br>
          
            <div class="text-lg-left title panel-header">
              <span>Items</span>
            </div>
            <div class="item-panel">
            <div class="form-row">
              <div class="col-md-6">
                <div>
                  <label for="category">Category </label>
                </div>
                <div>
                  <select id="Category" ref="Category" class="form-control round"
                                        v-model="categorymodel" v-on:change="getSubCategories(categorymodel)" >
                                      <option :value="Category.id"
                                            :id="Category.id"
                                            :key="Category.id"
                                            v-for="Category in Categories"
                                            :selected="Category.name==categorymodel" >{{ Category.category }}
                                      </option>
                                </select>
                </div>
              </div>
              <!-- <div class="col-sm-1" v-if="categorymodel"> -->
              <div class="col-md-6">
                <div>
                  <label for="subcategory">Sub Category </label>
                </div>
                <div>
                  <select id="SubCategory" ref="SubCategory" class="form-control round"
                                        v-model="subcategorymodel" v-on:change="getItems(subcategorymodel)">
                                    <option :value="SubCategory.id"
                                            :id="SubCategory.id"
                                            :key="SubCategory.id"
                                            v-for="SubCategory in subCategoriesArray"
                                            :selected="SubCategory.name==subcategorymodel" >{{ SubCategory.subcategory }}
                                    </option>
                                </select>
                </div>
              </div>
            </div>
            <br><br>

            <!-- <div v-for="item in itemsArray" :key="item.itemCode">
              <button type="button" class="btn btn-light item" 
            v-on:click="showModal(item.name)">{{item.name}}</button>
            </div> -->
            <div class="row" v-for="i in Math.ceil(itemsArray.length / 4)" :key="i" align="center">
              <button type="button" v-for="item in itemsArray.slice((i - 1) * 4, i * 4)" :key="item.itemCode"
              class="btn btn-light item-box" v-on:click="openDialogFromPage">
                {{item.name}}
              </button>
            </div>
          </div>

        </div>

        <div class="col-md-4 summary-po">         
            <div class="text-lg-left title panel-header">
              <span><i class="cui-cart" style="margin-right:10px"></i>GRN Summary</span>
            </div>
            <div class="summary-panel">
            <div class="form-row">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col">Item Code</th>
                    <th scope="col">Item Name</th>
                    <th scope="col"></th>
                    <th scope="col">Q</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr v-for="grdItem in grdItems" :key="grdItem.grdItemCode"> -->
                  <tr>
                    <!-- <td>{{grdItem.grdItemCode}}</td>
                    <td>{{grdItem.grdItemName}}</td>
                    <td>{{grdItem.quantity}}</td>
                    <td><i class="cui-trash"></i></td> -->
                    <td>001</td>
                    <td>Garlic</td>
                    <td><button class="btn-edit"><i class="cui-pencil"></i></button></td>
                    <td>1</td>
                    <td><button class="btn-delete"><i class="cui-trash"></i></button></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="form-row">
              <table class="table table-borderless">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td align="left">Net Total</td>
                    <td align="right">500.00</td>
                  </tr>
                  <tr>
                    <td align="left">Total Line Discount</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Discount %</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Discount Amount for the %</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Value Discount</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Total Tax</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Total</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Total Rounding Discount</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Other Charges</td>
                    <td align="right">0.00</td>
                  </tr>
                  <tr>
                    <td align="left">Final Bill Total</td>
                    <td align="right">0.00</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div>          
              <button type="button" class="btn btn-secondary">Cancel</button>
              <button type="button" class="btn btn-warning" v-on:click="addGrn">Confirm</button>
            </div>
            <br>
          </div>
        </div>

      </div>

      <!-- <div id="popup">
        <button
          type="button"
          class="btn"
          @click="showModal"
        >
          Open Modal!
        </button>

        <modal
          v-show="isModalVisible"
          @close="closeModal"
        />
      </div> -->

      <div id="popup" class="item-popup">
        <a11y-dialog
         id="page-dialog" app-root=".itempopup" @dialog-ref="assignDialogReference">
          <ItemPopup/>
        </a11y-dialog>
      </div>

      </form>
    </div>
</template>

<script>
import Datepicker from "vuejs-datepicker";
import "@coreui/coreui/dist/css/coreui.min.css";
import "@coreui/icons/css/coreui-icons.min.css";
import axios from "axios";
import router from "../router";
import ItemPopup from "./ItemPopup.vue";

export default {
  name: "PurchaseOrder",
  components: {
    Datepicker,
    ItemPopup
  },
  data() {
    return {
      dialog: null,
      item_code: "",
      item_name: "",
      invoiceNo: "",
      refDocNo: "",
      grnDate: "",
      fromLocation: "",
      toLocation: "",
      suppliermodel: "",
      address: "",
      categorymodel: "",
      subcategorymodel: "",
      isModalVisible: false,
      FromLocation: [
        {
          id: "",
          location: ""
        },
        {
          id: "1",
          location: "Dominos"
        },
        {
          id: "2",
          location: "Pizza Hut"
        }
      ],
      ToLocation: [
        {
          id: "",
          location: ""
        },
        {
          id: "1",
          location: "Dominos"
        },
        {
          id: "2",
          location: "Pizza Hut"
        }
      ],
      Supplier: [
        {
          id: "",
          supplier: ""
        },
        {
          id: "1",
          supplier: "Cargills"
        },
        {
          id: "2",
          supplier: "Laugfs"
        }
      ],
      PaymentMode: [
        {
          id: "",
          paymentmode: ""
        },
        {
          id: "1",
          paymentmode: "Cash"
        },
        {
          id: "2",
          paymentmode: "Cheque"
        }
      ],
      Categories: [
        //  {
        //    id: "",
        //    category: ""
        //  },
        //  {
        //    id: "1",
        //    category: "Food"
        //  },
        //  {
        //    id: "2",
        //    category: "Juice"
        //  }
      ],
      SubCategories: [
        //  {
        //    id: "1",
        //    subcategory: "Vegetables",
        //    categoryId: "1"
        //  },
        //  {
        //    id: "2",
        //    subcategory: "Fruits",
        //    categoryId: "1"
        //  },
        //  {
        //    id: "3",
        //    subcategory: "Chocolates",
        //    categoryId: "2"
        //  }
      ],
      items: [
        // { itemCode:'IC01',name: 'Garlic',price: 50, subCategoryId: "1" },
        // { itemCode:'IC02',name: 'Cabbage',price: 70, subCategoryId: "1" },
        // { itemCode:'IC03',name: 'Cadbury',price: 100, subCategoryId: "3" },
      ],
      grdItems: [],
      subCategoriesArray: [],
      itemsArray: []
    };
  },
  methods: {
    addGrn: function() {
      var purchaseOrderObj = {
        PONumber: this.poNo,
        PO_datetime: this.poDate,
        Supplier_Id: this.suppliermodel
      };
      router.push({ name: "GrnList" });
      return purchaseOrderObj;
    },

    addItem: function(item) {
      this.grdItems.push({
        grdItemCode: item.itemCode,
        grdItemName: item.name,
        quantity: 1
      });
    },

    getSubCategories: function(category) {
      this.subCategoriesArray = [];
      for (
        var subCategory = 0;
        subCategory < this.SubCategories.length;
        subCategory++
      ) {
        if (category === this.SubCategories[subCategory].categoryId) {
          this.subCategoriesArray.push({
            id: this.SubCategories[subCategory].id,
            subcategory: this.SubCategories[subCategory].subcategory,
            categoryId: this.SubCategories[subCategory].categoryId
          });
        }
      }
    },

    getItems: function(subCategory) {
      this.itemsArray = [];
      for (var item = 0; item < this.items.length; item++) {
        if (this.subcategorymodel && this.categorymodel) {
          if (subCategory === this.items[item].subCategoryId) {
            this.itemsArray.push({
              itemCode: this.items[item].itemCode,
              name: this.items[item].name,
              price: this.items[item].price,
              subCategoryId: this.items[item].subCategoryId
            });
          }
        }
      }
    },

    navigate() {
      router.push({ name: "PoList" });
    },

    assignDialogReference(dialog) {
      this.dialog = dialog;
    },

    openMainDialog() {
      if (this.dialog) {
        this.dialog.show();
      }
    },
    openDialogFromPage() {
      if (this.dialog) {
        this.dialog.show();
      }
    }
  },
  computed: {},

  created() {
    // axios.get(`http://localhost:3000/po/refData`).then(response => {
    //   // JSON responses are automatically parsed.
    //   debugger;
    //   this.Categories = response.data.Categories;
    // });

    axios.get(`http://localhost:3000/GetCategories`).then(response => {
      this.Categories = response.data;
    });

    axios.get(`http://localhost:3000/GetSubCategories`).then(response => {
      this.SubCategories = response.data;
    });

    axios.get(`http://localhost:3000/GetItems`).then(response => {
      this.items = response.data;
    });
  }
};
</script>

<style>
@import "../assets/css/inventory_main.css";
</style>



