<template>
    <div class="GrnList">
        <div class="text-lg-left purchaseheader">
            <p>Goods Received Notes</p>            
        </div>
        <div class="text-lg-left btnNew">
            <button type="button" class="btn btn-warning" v-on:click="navigate()">New</button>            
        </div>
        <br>
        <div class="po-left-padding">         
          <div class="form-row">
            <span class="title-red">POs pending for GRN</span>
          </div>
          <div class="form-row">
            <span>Please select the PO(s) which you need to create the GRN</span>
          </div>
          <div class="form-row" style="float:right;margin-right:75px;margin-bottom:10px">
            <div>
              <input id="search" class="form-control" v-model="search" type="text" placeholder="Search">
            </div>
          </div>
          <table class="table table-striped po-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">PO No.</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="purchaseOrder in filteredList" :key="purchaseOrder.PoNumber" v-on:click="getPoSummary">
                <td>{{purchaseOrder.PoNumber}}</td>
                <td>{{purchaseOrder.Supplier}}</td>
                <td>{{purchaseOrder.OriginalLocation}}</td>
                <td>{{purchaseOrder.PoDate}}</td>
                <td>{{purchaseOrder.Status}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br><br>
        <div class="po-left-padding">
          <div class="form-row" style="float:right;margin-right:75px;margin-bottom:10px">
            <div>
              <input id="search" class="form-control" v-model="search" type="text" placeholder="Search">
            </div>
          </div>
          <div class="text-lg-left">
            <span>GRN - Pending Approval</span>
          </div>
          <table class="table table-striped po-table">
            <thead class="thead-dark">
              <tr>
                <th scope="col">GRN No.</th>
                <th scope="col">Invoice No.</th>
                <th scope="col">Supplier Name</th>
                <th scope="col">Location</th>
                <th scope="col">Date</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>GRN/13450/10</td>
                <td>1234</td>
                <td>Cargills</td>
                <td>To: Dominos</td>
                <td>27/11/2018</td>
                <td>Pending</td>
              </tr>
            </tbody>
          </table>
        </div>
    </div>

     
</template>

<script>
import axios from "axios";
import router from "../router";
import "@coreui/coreui/dist/css/coreui.min.css";
export default {
  name: "GrnList",
  data() {
    return {
      PurchaseOrdersList: [],
      search: "",
      searchSelection: ""
    };
  },
  methods: {
    navigate() {
      router.push({ name: "GRN" });
    },

    getPoSummary() {
      router.push({ name: "Summary" });
    }
  },

  computed: {
    filteredList() {
      return this.PurchaseOrdersList.filter(data => {
        let PoNumber = data.PoNumber.toLowerCase().match(
          this.search.toLowerCase()
        );
        let Supplier = data.Supplier.toLowerCase().match(
          this.search.toLowerCase()
        );
        let OriginalLocation = data.OriginalLocation.toLowerCase().match(
          this.search.toLowerCase()
        );
        let DestinationLocation = data.DestinationLocation.toLowerCase().match(
          this.search.toLowerCase()
        );
        return PoNumber || Supplier || OriginalLocation || DestinationLocation;
      });
    }
  },

  created() {
    this.PurchaseOrdersList = [];
    axios.get(`http://localhost:3000/PO/list`).then(response => {
      debugger;
      this.PurchaseOrdersList = response.data.purchaseOrders;
    });
  }
};
</script>

<style>
@import "../assets/css/inventory_main.css";
</style>
