
<template>
  <div class="item-pop-up">
    <div>
      <!-- <span slot="closeButtonContent">
        Close page dialog
      </span> -->
      <div>
        <form id="formItemPopup" @submit="addItem" method="post" action="">
            <div>
              <div class="form-row panel-header">
                <span class="text-lg-left title">Add Item</span>
              </div>
              <div class="form-row">
                <div class="col-md-6" align="left">
                  <span><i class="cui-cart" style="margin-right:10px"></i>Add your item to cart</span>
                </div>
              </div>
              <div class="form-row title-red">
                <div class="col-md-6">
                  <div>
                    <label>Item Name : </label>
                  </div>
                  <div>
                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label>Item Code : </label>
                  </div>
                  <div>
                    
                  </div>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="col-md-6">
                  <div>
                    <label for="quantity">Quantity </label>
                  </div>
                  <div>
                    <input id="quantity" class="form-control" v-model="quantity" type="number">
                  </div>
                </div>
                <div class="col-md-6">
                  <div>
                    <label for="unit">Unit </label>
                  </div>
                  <div>
                    <select id="Unit" ref="Unit" class="form-control round"
                                                  v-model="unitmodel" >
                                              <option :value="Unit.id"
                                                      :id="Unit.id"
                                                      :key="Unit.id"
                                                      v-for="Unit in Unit"
                                                      :selected="Unit.name==unitmodel" >{{ Unit.unit }}
                                              </option>
                                          </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div>
                    <label for="rate">Rate </label>
                  </div>
                  <div>
                    <input id="rate" class="form-control controller-style" v-model="rate" type="number">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div>
                    <label for="discount">Discount </label>
                  </div>
                  <div>
                    <input id="discount" class="form-control controller-style" v-model="discount" type="number">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div>
                    <label for="tax">Tax Combination </label>
                  </div>
                  <div>
                    <select id="Tax" ref="Tax" class="form-control round controller-style"
                                                  v-model="taxmodel" >
                                              <option :value="Tax.id"
                                                      :id="Tax.id"
                                                      :key="Tax.id"
                                                      v-for="Tax in Tax"
                                                      :selected="Tax.name==taxmodel" >{{ Tax.tax }}
                                              </option>
                                          </select>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div>
                    <label for="pwtax">Price with tax </label>
                  </div>
                  <div>
                    <input id="pwtax" class="form-control controller-style" v-model="pwtax" type="text">
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div>
                    <label for="deliverydate">Delivery Date </label>
                  </div>
                  <div>
                    <datepicker id="deliverydate" format="MM/dd/yyyy"></datepicker>
                  </div>
                </div>
              </div>
              <div class="form-row">
                <div>
                  <div>
                    <label for="remarks">Remarks </label>
                  </div>
                  <div>
                    <input id="remarks" class="form-control controller-style" v-model="remarks" type="text">
                  </div>
                </div>
              </div>
              <br>
              <div class="form-row">
                <div class="btn-panel" align="right">
                    <button type="button" class="btn btn-secondary btn-single">Cancel</button>
                    <button type="button" class="btn btn-secondary btn-single">Add to cart</button>
                </div>
              </div>
            </div>
          </form>


      </div>
    </div>
  </div>
</template>


<script>
import Datepicker from "vuejs-datepicker";
export default {
  name: "ItemPopup",
  components: {
    Datepicker
  },
  data() {
    return {
      dialog: null,
      title: "",
      Tax: [
        {
          id: "",
          tax: ""
        },
        {
          id: "1",
          tax: "Purchase Tax"
        },
        {
          id: "2",
          tax: "VAT"
        }
      ],
      Unit: [
        {
          id: "",
          unit: ""
        },
        {
          id: "1",
          unit: "Kilograms"
        },
        {
          id: "2",
          unit: "Litres"
        }
      ]
    };
  },

  methods: {}
};
</script>

<style>
@import "../assets/css/inventory_main.css";
/* .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
  }

  .modal {
    background: #FFFFFF;
    box-shadow: 2px 2px 20px 1px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  .modal-header,
  .modal-footer {
    padding: 15px;
    display: flex;
  }

  .modal-header {
    border-bottom: 1px solid #DBDBDB;
    justify-content: space-between;
  }

  .modal-footer {
    border-top: 1px solid #eeeeee;
    justify-content: flex-end;
  }

  .modal-body {
    position: relative;
    padding: 20px 10px;
  }

  .btn-close {
    border: none;
    font-size: 20px;
    padding: 20px;
    cursor: pointer;
    font-weight: bold;
    color: #4AAE9B;
    background: transparent;
  }

  .btn-green {
    color: white;
    background: #4AAE9B;
    border: 1px solid #4AAE9B;
    border-radius: 2px;
  }

  .item-detail{
    color: red;
  }

  .panel-header{
    padding-left: 135px;
    font-size: 20px;
  } */
</style>