<template>
    <div class="PoList">
        <div class="text-lg-left purchaseheader">
            <p>Purchase Orders</p>            
        </div>
        <div class="text-lg-left btnNew">
            <button type="button" class="btn btn-warning" v-on:click="navigate()">New</button>            
        </div>
        <div class="form-row" style="float:right;margin-right:75px;margin-bottom:10px">
            <div>
                <input id="search" class="form-control" v-model="search" type="text" placeholder="Search">
            </div>
            <div>
                <!-- <button type="button" class="btn btn-warning" v-on:click="filteredList">Search</button> -->
            </div>
        </div>
        <table class="table table-striped po-table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Number</th>
              <th scope="col">Supplier Name</th>
              <th scope="col">Origin Location</th>
              <th scope="col">Destination Location</th>
              <th scope="col">Date</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="purchaseOrder in filteredList" :key="purchaseOrder.PoNumber" v-on:click="getPoSummary">
              <td>{{purchaseOrder.PoNumber}}</td>
              <td>{{purchaseOrder.Supplier}}</td>
              <td>{{purchaseOrder.OriginalLocation}}</td>
              <td>{{purchaseOrder.DestinationLocation}}</td>
              <td>{{purchaseOrder.PoDate}}</td>
              <td>{{purchaseOrder.Status}}</td>
            </tr>
          </tbody>
        </table>

        <!-- Remove this div -->
        <div>
          <button type="button" class="btn btn-warning" v-on:click="getGrnList">To GRN</button>
        </div>

    </div>

     
</template>

<script>
import axios from "axios";
import router from "../router";
import "@coreui/coreui/dist/css/coreui.min.css";
export default {
  name: "PoList",
  data() {
    return {
      PurchaseOrdersList: [],
      search: "",
      searchSelection: ""
    };
  },
  methods: {
    navigate() {
      router.push({ name: "PurchaseOrder" });
    },

    getPoSummary(){
      router.push({name: "Summary"});
    },

    getGrnList(){
      router.push({name: "GrnList"})
    }
  },

  computed: {
    filteredList() {
      return this.PurchaseOrdersList.filter(data => {
        let PoNumber = data.PoNumber.toLowerCase().match(
          this.search.toLowerCase()
        );
        let Supplier = data.Supplier.toLowerCase().match(
          this.search.toLowerCase()
        );
        let OriginalLocation = data.OriginalLocation.toLowerCase().match(
          this.search.toLowerCase()
        );
        let DestinationLocation = data.DestinationLocation.toLowerCase().match(
          this.search.toLowerCase()
        );
        return PoNumber || Supplier || OriginalLocation || DestinationLocation;
      });
    }
  },

  created() {
    this.PurchaseOrdersList = [];
    axios.get(`http://localhost:3000/PO/list`).then(response => {
      debugger;
      this.PurchaseOrdersList = response.data.purchaseOrders;
    })
  }
};
</script>

<style>
  .table.table-striped.po-table{
    width: 90%;
    margin-left: 5%;
}

.text-lg-left.btnNew{
  margin-bottom:10px;
  margin-left:70px;
}

.text-lg-left.purchaseheader{
  margin-bottom:10px;
  margin-left:70px;
  font-size:18px;
}

</style>
