<template>
    <div class="main-background">
        <form id="formSummary">
            <div class="form-row panel-header">
                <h4>Purchase Order - </h4>
            </div>
            <br>
            <div class="po-left-padding">
                <div align="left">
                    <span>Dominos</span>
                </div>
                <div align="left">
                    <span>Ph: 0772437898</span>
                </div>
                <div align="left">
                    <span>Fax: 0772437898</span>
                </div>
            </div>
            <div class="form-row">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td align="left">PO No: </td>
                            <td align="left">Date: </td>
                            <td align="left">Ref Doc No: </td>
                            <td align="left">Status: </td>
                        </tr>                        
                    </tbody>
                </table>
            </div>
            <hr>
            <div class="form-row po-left-padding">
                <div class="col-md-4" align="left">
                    <div>
                        <h6>Location: </h6>
                    </div>
                    <div class="align-label">
                        <div>
                            <label>From: </label>
                        </div>
                        <div>
                            <label>To: </label>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div>
                        <h6>Supplier: </h6>
                    </div>
                    
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="form-row po-left-padding">
                <span>PO added by: </span>
            </div>
            <div class="form-row po-left-padding">
                <span>PO approved by: </span>
            </div>
            <hr>
            <div class="form-row">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Item Code</th>
                            <th scope="col">Item Name</th>
                            <th scope="col">Q</th>
                            <th scope="col">Rate</th>
                            <th scope="col">Discount</th>
                            <th scope="col">Tax Combination</th>
                            <th scope="col">Price with Tax</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>001</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="form-row">
                <div class="col-md-8 text-lg-left">
                    <h6>Remarks</h6>
                </div>
                <div class="col-md-4">
                    <table class="table table-borderless">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td align="left">Net Total</td>
                                <td align="right">500.00</td>
                            </tr>
                            <tr>
                                <td align="left">Total Discount & Tax</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td align="left">Total</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td align="left">Advance</td>
                                <td align="right">0.00</td>
                            </tr>
                            <tr>
                                <td align="left">Balance</td>
                                <td align="right">500.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4">

                </div>
                <div class="col-md-8 btn-panel">
                    <button type="button" class="btn btn-secondary btn-single">Back</button>
                    <button type="button" class="btn btn-secondary btn-single">Delete</button>
                    <button type="button" class="btn btn-secondary btn-single">Edit</button>
                    <button type="button" class="btn btn-secondary btn-single">Print</button>
                    <button type="button" class="btn btn-secondary btn-single">Approve</button>
                </div>
            </div>
            <br>
        </form>
    </div>
</template>

<script>
export default {
  name: "Summary",
  data() {
    return {};
  }
};
</script>

<style>
@import "../assets/css/inventory_main.css";
</style>
